/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.container {
  width: inherit;
}

.toolbar
{
  background-color: brown;
  border-radius: 10px
}
.toolbar-spacer
{
  flex: 1 1 auto
  
}

.mat-button-wrapper
{
  color:black
}

ag-cell.ag-cell-not-inline-editing.ag-cell-with-height.ag-cell-no-focus
{
  color:red
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1000px;
  height: 500px;
}
.ResgisterLinkTag
{
  position: absolute;
  left: 200px;
  top: 200px;
}