<h1 class="h1">Registration!!!</h1>
<div class="container">
  <form (ngSubmit)="submit(f)" #f='ngForm' enctype="multipart/form-data">
    <div class="form-group">
      <label for="FirstName">First Name</label>
      <input type="text" class="form-control" id="FirstName" required [(ngModel)]="userModel.FirstName" name="FirstName"
        #FirstName="ngModel">
    </div>
    {{ngModel}}
    <div *ngIf="FirstName.errors && FirstName.touched" class="alert alert-danger">
      <div [hidden]="!FirstName.errors.required">
        {{FirstName.name}} title is required!
      </div>
    </div>
    <div class="form-group">
      <label for="LastName">Last Name</label>
      <input type="text" class="form-control" id="LastName" required [(ngModel)]="userModel.LastName" #LastName='ngModel'
        name="LastName" />
    </div>
    <div *ngIf='LastName.errors && LastName.touched' class="alert alert-danger">
      <div [hidden]='!LastName.errors.required'>LastName is required</div>
    </div>
    <div class="form-group">
      <label for="LoginName">Login Name</label>
      <input type="text" class="form-control" id="LoginName" (mouseenter) ="ResetAlreadyLoginNameExistErrorMessage()" required [(ngModel)]="userModel.LoginName" #LoginName='ngModel'
        name="LoginName" />
    </div>
    <div *ngIf='LoginName.errors && LoginName.touched'  class="alert alert-danger">
      <div [hidden]='!LoginName.errors.required'>LoginName is required</div>

    </div>

    <div class="form-group">
      <label for="IsAdmin">Admin</label>   
      &nbsp;&nbsp;&nbsp;<input type="checkbox"  id="IsAdmin"   [(ngModel)]="userModel.IsAdmin" name="IsAdmin" />
    </div>
    <div class="form-group">
      <label for="Password">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="Password" class="form-control" id="Password" required [(ngModel)]="userModel.Password" #Password='ngModel'
        name="Password" />
    </div>
    <div *ngIf='Password.errors && Password.touched' class="alert alert-danger">
      <div [hidden]='!Password.errors.required'>Password is required</div>
    </div>

    <div class="form-group">
      <label for="ConfirmPassword">Confirm Password</label>
      <input type="Password" class="form-control" id="ConfirmPassword" validateEqual="Password" required [(ngModel)]="userModel.ConfirmPassword"
        #ConfirmPassword="ngModel" name="ConfirmPassword" />
    </div>

    <div *ngIf='ConfirmPassword.errors && ConfirmPassword.touched' class="alert alert-danger">
      <div [hidden]='!ConfirmPassword.errors'>Password and Confirm password Does not Match</div>
    </div>

    <div *ngIf='(LoginName.errors && LoginName.touched) || !tohideErrorMessage' class="form-group">
      <span [hidden]='(tohideErrorMessage || !LoginName.touched)' class="alert alert-danger" [innerHtml]="ErrorMessage"></span>
    </div>
    <div class="form-group">
      <label for="Image">Upload Image</label>
    <input type="file" class="form-group" name="userPhoto"  #File />
    </div>
    <div class="form-group">
      <button type="submit" [disabled]='f.invalid' class="btn btn-success">Submit</button>
    </div>
  </form>
</div>